<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
         <content-type 
			id="eg.edu.guc.csen.localizedlanguage" 
			base-type="org.eclipse.core.runtime.text" 
			file-extensions="guc" 
			priority="normal"
			name="Localized Java">
	  </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
         <editor
            id="eg.guc.edu.csen.languagelocalization.LocalizedLanguageEditor"
            name="Localized Language Editor"
            icon="icons/localization.png"
            extensions="guc"
            class="eg.edu.guc.csen.languagelocalization.editors.LocalizedLanguageEditor"
            contributorClass="eg.edu.guc.csen.languagelocalization.editors.LocalizedLanguageEditorContributor">
      </editor>
      <editorContentTypeBinding
			editorId="eg.guc.edu.csen.languagelocalization.LocalizedLanguageEditor"
			contentTypeId="eg.edu.guc.csen.localizedlanguage">
		 </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="eg.edu.guc.csen.languagelocalization.translations.LocalizedJavaStreamConnectionProvider"
            id="eg.edu.guc.csen.languagelocalization.server"
            label="Localized Language Server">
      </server>
      <contentTypeMapping
            id="eg.edu.guc.csen.languagelocalization.server"
            contentType="eg.edu.guc.csen.localizedlanguage">
      </contentTypeMapping>
   </extension>
</plugin>
