<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="Language Localization" sequenceNumber="1">
	<environment>
		<os>win32</os>
		<ws>win32</ws>
		<arch>x86_64</arch>
	</environment>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-19"/>

	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2022-12/"/>
			<unit id="org.eclipse.lsp4e" version="0.15.0.202211292024"/>
			<unit id="org.eclipse.lsp4e.debug" version="0.15.0.202211181112"/>
			<unit id="org.eclipse.lsp4e.jdt" version="0.10.2.202205031750"/>
			<unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.19.0.v20221118-0401"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2022-12/"/>
			<unit id="org.eclipse.swt.tools.feature.feature.group" version="3.108.700.v20220914-2245"/>
		</location>
	</locations>
</target>